.global-overlay-layer-full-screen {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0px;
  bottom: auto;
  width: auto;
  height: auto;
  transition: all ease 0.9s;
  isolation: isolate;
}
.global-overlay-layer-mini-screen {
  position: fixed;
  z-index: 999;

  bottom: 30px;
  top: auto;
  width: 100%;
  height: auto;
  transition: all ease 0.9s;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* mobile view */
@media (max-width: 500px) {
  .global-overlay-layer-mini-screen {
    width: 100vw;
    display: flex;
    justify-content: center;
    left: auto;
    bottom: 70px;
  }
}
